@import '../variables';

/* Placeholder Styles */
/* cross-browser styling */
::-webkit-input-placeholder {
    opacity: 1;
    color: #000;
    text-align: center;
}

:-moz-placeholder {
    opacity: 1;
    color: #000;
    text-align: center;
}

::-moz-placeholder {
    opacity: 1;
    color: #000;
    text-align: center;
}

:-ms-input-placeholder {
    opacity: 1;
    color: #000;
    text-align: center;
}

/* disappear on focus */
*:focus::-webkit-input-placeholder {
    opacity: 0;
}

*:focus:-moz-placeholder {
    opacity: 0;
}

*:focus::-moz-placeholder {
    opacity: 0;
}

*:focus:-ms-input-placeholder {
    opacity: 0;
}
