 #gallery .entry {
    background-color: #ffffff;
    border: 1px solid #77a027;
    position: relative;
    margin-bottom: .2em;

    &.img-0 { grid-area: small1; }
    &.img-1 { grid-area: small2; }
    &.img-2 { grid-area: small3; }
    &.img-3 { grid-area: small4; }
    &.img-5 { grid-area: small6; }
    &.img-6 { grid-area: small7; }
    &.img-7 { grid-area: small8; }
    &.img-8 { grid-area: small9; }
    &.img-10 { grid-area: small11; }
    &.img-11 { grid-area: small12; }
    &.img-12 { grid-area: small13; }
    &.img-13 { grid-area: small14; }
    &.img-14 { grid-area: small15; }
    &.img-15 { grid-area: small16; }
    &.img-16 { grid-area: small17; }
    &.img-17 { grid-area: small18; }
    &.img-19 { grid-area: small20; }
    &.img-20 { grid-area: small21; }
    &.img-4 { grid-area: big5; }
    &.img-9 { grid-area: big10; }
    &.img-18 { grid-area: big19; }
}
#gallery .entries {
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
    position: relative;
    vertical-align: top;
    display: grid;
    justify-content: space-between;
    grid-gap: .25em;
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-columns: (19.5% 19.5% 19.5% 19.5% 19.5%);
    grid-template-areas: 
    "small1 small2 big5 big5 small6" 
    "small3 small4 big5 big5 small7" 
    "small8 big10 big10 small11 small12" 
    "small9 big10 big10 small13 small14" 
    "small15 small16 big19 big19 small20" 
    "small17 small18 big19 big19 small21";
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    #gallery .entries {
        grid-gap: .25em .25em;
        grid-template-columns: repeat(4, 1fr);
        -ms-grid-columns: (19.5% 19.5% 19.5% 19.5% 19.5%);
        grid-template-areas: 
        "small1 small2 big5 big5" 
        "small3 small4 big5 big5" 
        "small6 big10 big10 small8" 
        "small7 big10 big10 small9" 
        "small11 small12 big19 big19" 
        "small13 small14 big19 big19" 
        "small15 small16 small17 small18" 
        "small20 small21 . .";
    }

    #gallery .entry.img-4 {
    }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    #gallery .entries {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: (19.5% 19.5% 19.5% 19.5% 19.5%);
        grid-template-areas: 
        "small1 small2 small3" 
        "small4 big5 small6" 
        "small7 small8 small9" 
        "big10 small11 small12" 
        "small13 small14 small15" 
        "small16 small17 small18" 
        "big19 small20 small21";
    }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
    #gallery .entries {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: (19.5% 19.5% 19.5% 19.5% 19.5%);
        grid-template-areas: 
        "small1 small2" 
        "small3 small4" 
        "big5 small6" 
        "small7 small8" 
        "small9 big10" 
        "small11 small12" 
        "small13 small14" 
        "small15 small16" 
        "small17 small18" 
        "big19 small20" 
        "small21 .";
    }
}

@media screen and (min-width: 0px) and (max-width: 399px) {
    #gallery .entries {
        grid-template-columns: 100%;
        -ms-grid-columns: (19.5% 19.5% 19.5% 19.5% 19.5%);
        grid-template-areas: 
        "small1" 
        "small2" 
        "small3" 
        "small4" 
        "big5" 
        "small6" 
        "small7" 
        "small8" 
        "small9" 
        "big10" 
        "small11" 
        "small12" 
        "small13" 
        "small14" 
        "small15" 
        "small16" 
        "small17" 
        "small18" 
        "big19" 
        "small20" 
        "small21";
    }
}
